@import 'reset'
@import 'mixins'

body
  background: #d7dedd url("/images/bg.png") bottom left repeat-x
  font-family: "atrament-web-1","atrament-web-2", helvetica, arial, sans-serif
  height: 100%
  min-height: 400px

#wrapper
  position: relative
  min-width: 880px
  height: 100%

#content
  position: relative
  padding: 240px 0 0 20px
  z-index: 2

hgroup
  padding-right: 400px
  color: #fff
  text-shadow: 0 1px 1px #9aa09f
  h1
    font-size: 60px
    text-transform: uppercase
    line-height: 100%
  h2
    font-size: 40px
    line-height: 100%
#conveyor
  position: absolute
  right: 0
  top: 0
  height: 100%
  width: 100%
  overflow: hidden
  #cutout
    position: absolute
    background: url("/images/conveyor_panel.png")
  #items
    position: absolute
    top: 0
    right: 0
    width: 100%
    height: 640px
    overflow: hidden
    > div
      position: absolute
      background: url("/images/conveyor_bg.png") 0 0
      width: 800px
      height: 400px
      &.punched
        background-position: 0 -400px
      &.filled
        background-position: 0 -800px
      > div
        position: absolute
        left: 50px
        bottom: 34px
        width: 161px
        height: 97px
        background: url("/images/conveyor_panel.png") 0 -97px no-repeat
  #puncher
    position: absolute
    right: 648px
    top: -100px
    width: 165px
    height: 163px
    background: url("/images/conveyor_puncher.png") 0 100% no-repeat
  #placer
    background: url("/images/conveyor_placer.png") 0 100% no-repeat
    position: absolute
    right: 379px
    top: 0px
    width: 179px
    height: 195px
  #cutout,
  #panel
    position: absolute
    width: 161px
    height: 97px
    background: url("/images/conveyor_panel.png") 0 -97px no-repeat
  #cutout
    top: 100px
    right: 644px
    display: none
    background-position: top left
  #panel
    top: 94px
    right: 386px
  #glow
    position: absolute
    display: none
    background: url("/images/conveyor_glow.png")
    width: 171px
    height: 157px
    right: 382px
    top: 143px
#catcher_back
  position: absolute
  height: 108px
  width: 281px
  right: 584px
  bottom: 195px
  background: url("/images/conveyor_catcher.png") 0 -112px
#catcher
  position: absolute
  height: 250px
  width: 281px
  right: 584px
  bottom: 0
  background: url("/images/conveyor_catcher.png") bottom left
  div
    display: none
    height: 102px
    background: url("/images/conveyor_catcher.png")
    width: 100%
    position: absolute
    left: 0
    top: -47px