footer#ventures
  position: relative
  z-index: 5000
  clear: both
  color: #77776e
  text-shadow: 0 1px 0 #fff
  height: 245px
  background: url("/images/ventures_bg.png") repeat-x
  +box-shadow(0 0 3px #888e8d)
  min-width: 880px
  article
    width: 420px
    height: 100%
    margin: 0 auto
    background: url("/images/ventures_logo.png") no-repeat 0 40px
    padding-left: 170px
    font-family: "ff-din-web-pro-1","ff-din-web-pro-2"
    text-transform: uppercase
    h1
      font-size: 14px
      line-height: 16px
      padding: 100px 0 0 0
      margin: 0
    p
      font-size: 11px
      line-height: 13px
    a
      color: #a01c22
      &:hover
        text-decoration: underline