@import 'reset'

@keyframes pulse
  0%
    opacity: 1
  20%
    opacity: .4
  50%
    opacity: .8
  80%
    opacity: 0
  100%
    opacity: 1

hgroup, .main, footer
  display: none

#gem
  background: #aaa
  width: 100%
  height: 20vw
  max-height: 20rem
  .hole
    background: #999
    fill: #333
  .door
    fill: #bbb
  .panel_l
    fill: #fff
    opacity: .4
  .panel_r
    fill: #000
    opacity: .4
  .outline,
  .inner
    fill: none
    stroke-width: 2px
  .inner
    // stroke: #fff
    // mix-blend-mode: color-dodge
  .laser
    stroke: red
    stroke-width: 1px
  .zap
    stroke: none
    transform: translateZ(0)
    animation: .1s pulse infinite
