%footer#ventures
  %article
    %h1 This project is powered by Hashrocket
    %p
      Hashrocket is a premiere Ruby on Rails design & development shop.
      %br/
      Learn more about us at
      %a(href="http://hashrocket.com") Hashrocket.com
