%footer#ventures
  %article
    %a(href="http://hashrocket.com")
      %img(src="/images/ventures_logo.png")
      %h1 This project is powered by Hashrocket
      %p
        Hashrocket is a premiere Ruby on Rails design & development shop.
        %br/
        Learn more about us at
        %span Hashrocket.com
