%head
  %meta(charset="UTF-8")
  %title Fabrication
  %link(rel="stylesheet" type="text/css" href="/stylesheets/application.css")
  %script(type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6/jquery.min.js")
  %script(type="text/javascript" src="/javascript/application.js")
  /[if IE]
    %script(src="http://html5shiv.googlecode.com/svn/trunk/html5.js" type="text/javascript")

%body
  #conveyor
    #cutout
    #items
      %div
      %div
      %div
      %div
      %div
      %div
      %div
      %div
      %div
      %div
      %div
    #panel
    #puncher
    #glow
    #placer
